@inherits DetailDialogBase<Area, IAreaService, AreaValidator>

<MudDialog>
    <DialogContent>
        <MudForm Model="@_model" Validation="@(Validator.ValidateValue)" @bind-IsValid="_formValid" @ref="_form">
            <MudTextField For="@(() => _model.Name)"
                          Immediate="true"
                          Label="Name"
                          @bind-Value="_model.Name" />

            <MudNumericField For="@(() => _model.Floor)"
                             Immediate="true"
                             Label="Floor"
                             Min="1"
                             @bind-Value="_model.Floor" />

            <div class="d-flex align-center justify-space-between">
                <MudFileUpload T="IBrowserFile"
                               Accept=".png"
                               MaximumFileCount="1"
                               @bind-Files="_areaImage">
                    <ButtonTemplate>
                        <MudButton HtmlTag="label"
                                   DisableElevation="true"
                                   Variant="Variant.Filled"
                                   StartIcon="@Icons.Material.Filled.Image"
                                   for="@context">
                            Area image
                        </MudButton>
                    </ButtonTemplate>
                </MudFileUpload>
                <MudText Class="ml-4" Typo="Typo.body1">@_areaImage?.Name</MudText>
            </div>
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="@Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary"
                   Disabled="@(!_formValid || (!_form?.IsTouched ?? true))"
                   DisableElevation="true"
                   StartIcon="@Icons.Material.Filled.Save"
                   OnClick="@Save"
                   Variant="Variant.Filled">Save</MudButton>
    </DialogActions>
</MudDialog>